// Global sizes
$small: 0.5rem;
$medium: 1rem;
$big: 1.5rem;
$very-big: 2rem;
$huge:3.3rem;
$max-form-width: 400px;

// Colors
$primary-color: #f0f9ff;
$primary-shade-color: #cce7ff;
$secondary-color: #ffffff;
$terniary-color: #4661e6;
$terniary-color-hover: #5971e9;
$green-color: #22c55e;
$green-color-hover: #1b9e4b;
$red-color: #d73d3d;
$red-color-hover: #bf3636;
$dark-color: #0b050f;
$placeholder-color: #999;

// Radius

$small-radius: 0.3rem;
$medium-radius: 0.625rem;
// Font
$medium-font: 0.8rem;
