$small:0.5rem;
$medium:1rem;
$big:1.5rem;
$very-big:2rem;

$primary-color:#6a3093;
$primary-shade-color:#552676;
$secondary-color:#eaf2ef;
$green-color:#22c55e;
$green-color-hover:#1b9e4b;
$red-color:#ef4444;
$red-color-hover:#bf3636;
$dark-color:#0b050f;

$small-radius:5px;
$medium-radius:10px;
