@use '../abstracts/index' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: $primary-color;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #a044ff, #6a3093);
  color: $secondary-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  padding: $big;
  display: flex;
  flex-direction: column;
  gap: $very-big;

  @include respond(small) {
    padding: $medium $big;
  }
}
