@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mixins;

.table__row {
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid $dark-color;
  border-radius: $medium-radius;
  padding: $medium;
  gap: $medium;
  background-color: $secondary-color;
  color: $dark-color;
  white-space: nowrap;

  @include mixins.respond(small) {
    font-size: $medium-font;
    padding: $small;
    overflow-x: scroll;
  }
}

.home {
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
}

.dashboard {
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $medium;
  background-color: $primary-shade-color;
  background-color: $secondary-color;
  padding: $big $very-big;
  max-width: $max-form-width;
  width: 100%;
  border-radius: $medium-radius;
  margin: 5rem auto;

  @include mixins.respond(small) {
    width: 90%;
    padding: $medium $big;
  }
}

.actions {
  display: flex;
  align-items: center;
}

.icon-small {
  width: $small;
  height: $small;
}

.icon-medium {
  width: $medium;
  height: $medium;
}

.icon-big {
  width: $big;
  height: $big;
}

.icon-very-big {
  width: $very-big;
  height: $very-big;
}

.button-small {
  padding: $small $medium;
  font-size: $small;
}
.button-medium {
  padding: $small $medium;
  font-size: $medium;
}
.button-big {
  padding: $medium $very-big;
  font-size: $big;

  @include mixins.respond(small) {
    padding: $small $medium;
    font-size: $medium-font;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.adminButton {
  position: absolute;
  top: 50%;
  right: 0%;

  @include mixins.respond(small) {
    position: absolute;
    top: 150%;
    right: 0%;
  }
}

.closeButton {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
  cursor: pointer;
}
