@use "../abstracts/variables" as *;

.table__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 1fr;
  text-align: center;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid $dark-color;
  padding: $medium;
  background-color: $secondary-color;
  color: $dark-color;
}

.icon-small {
  width: $small;
  height: $small;
}

.icon-medium {
  width: $medium;
  height: $medium;
}

.icon-big {
  width: $big;
  height: $big;
}

.icon-very-big {
  width: $very-big;
  height: $very-big;
}

.button-small {
  padding: $small $medium;
  font-size: $small;
}
.button-medium {
  padding: $small $medium;
  font-size: $medium;
}
.button-big {
  padding: $medium $very-big;
  font-size: $big;
}