$small:0.5rem;
$medium:1rem;
$big:1.5rem;
$very-big:2rem;

$primary-color:#6a3093;
$primary-shade-color:#552676;
$secondary-color:#eaf2ef;
$green-color:#22c55e;
$red-color:#ef4444;
$dark-color:#0b050f;

$small-radius:5px;